<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQwD5EZioTg-eCa-GitTVs3AzehC5iywk</string>
	<key>GCM_SENDER_ID</key>
	<string>559559832496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.sightscape.vendor.sa.ios</string>
	<key>PROJECT_ID</key>
	<string>sightscape-561b5</string>
	<key>STORAGE_BUCKET</key>
	<string>sightscape-561b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559559832496:ios:ed51ca7be3d871f4365c75</string>
</dict>
</plist>